.sidebar {
    position: fixed;
    width:  100px;
    height: 100%;
    padding-top: 3%;
    padding-left: 6px;
    background-color: #53b6ef;
    color: #fff;
    // padding: 8px;
  }
  
  // Style list items

  .circle {
    display: inline-block;
    border-radius: 300%;
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    background-color: white;
    text-align: center;
    justify-content: center;
    // line-height: 50px; /* Vertically center content */
    margin-right: 8px; /* Add spacing between circles */
  }

  .center {
   align-items: center;
   flex: content;
  }
  
  .circle .emoji {
    font-size: 55px; /* Adjust size as needed */
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 50px;
  }
  
  
  .sidebar li:first-child {
    margin-top: 0; /* Remove top margin for the first list item */
  }

  .sidebar li:hover {
    cursor: pointer;
    //background-color: #1b0065;
  }

  svg {
    margin-right: 10px;
  }
  .sidebar-link .emoji {
    font-size: 50px; // Adjust the font size as needed
  }

