.home {
    width: 90px;
    height: 100vh;
    background-color: #53b6ef;
    color: #fff;
    padding: 20px;
    margin-left: 50px;
  }
  
  // Style list items
  .home ul {
    list-style-type: none;
    padding: 0;
  }
  
  .home li {
    margin-bottom: 50px;
  }