@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.boxes {
  width: 80%;
  height: 30%;
  background-color: #53b6ef;
  margin: 10px;
  padding: 3% 5%;
  border-radius: 20px;
  border: rgb(112, 206, 237) 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
